
{% extends "auctions/layout.html" %}

{% block title %}
   New Listing
{% endblock %}



{% block body %}
<h1 class="head" style="text-align:center;color: black">List an item</h1>
    <div >
    <form method="post" enctype="multipart/form-data" action="{% url 'create' %}" name="q" style="width: 75%; margin-top:50px;" >
    {% csrf_token %}
      {{ form.as_p }}
    <button type="submit"   class="btn btn-primary" name="save">Create Listing</button>
    </form>
    </div>

{% endblock %}


</body>
</html>